.event-hero{
    background-size: cover;
    height: 35vh;
    background-color: black;
    background-position: center;


}

.event-text{
    height: 35vh;
}

#event-title-style{
    background: #eeeeee;
    -webkit-box-shadow: 0px 10px 22px 3px #000000; 
    box-shadow: 0px 1px 22px 3px #000000;
}