/* .search-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  font-family: 'Poppins', sans-serif;
  padding: 15px;
}

.search-row form {
  width: 100%;
  max-width: 1290px;
}

.search-row form legend {
  font-size: 72px;
  line-height: 1;
  color: #fff;
  margin-bottom: 60px;
}

.search-row form .inner-form {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 50px 47px;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}

.search-row form .inner-form .input-field {
  margin-right: 70px;
  height: 68px;
}

.search-row form .inner-form .input-field input {
  height: 100%;
  background: #fff;
  border-radius: 10px;
  border: 0;
  display: block;
  width: 100%;
  padding: 10px 32px;
  font-size: 20px;
}

.search-row form .inner-form .input-field input.placeholder {
  color: #9a9a9a;
  font-size: 20px;
}

.search-row form .inner-form .input-field input:-moz-placeholder {
  color: #9a9a9a;
  font-size: 20px;
}

.search-row form .inner-form .input-field input::-webkit-input-placeholder {
  color: #9a9a9a;
  font-size: 20px;
}

.search-row form .inner-form .input-field input:hover, .search-row form .inner-form .input-field input:focus {
  box-shadow: none;
  outline: 0;
}

.search-row form .inner-form .input-field.first-wrap {
  -ms-flex-positive: 1;
      flex-grow: 1;
}

.search-row form .inner-form .input-field.second-wrap {
  width: 32.77%;
  min-width: 180px;
}

.search-row form .inner-form .input-field.third-wrap {
  width: 180px;
  margin-right: 0;
}

.search-row form .inner-form .input-field.third-wrap .btn-search {
  height: 125%;
  width: 100%;
  background: #4272d7;
  white-space: nowrap;
  border-radius: .5px;
  font-size: 20px;
  color: #fff;
  transition: all .2s ease-out, color .2s ease-out;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
}

.search-row form .inner-form .input-field.third-wrap .btn-search:hover {
  background: #2d62d3;
}

@media screen and (max-width: 992px) {
  .search-row form legend {
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
  }
  .search-row form .inner-form {
    padding: 30px 35px;
  }
  .search-row form .inner-form .input-field {
    height: 50px;
  }
}

@media screen and (max-width: 767px) {
  .search-row form legend {
    font-size: 40px;
    margin-bottom: 40px;
  }
  .search-row form .inner-form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 20px;
  }
  .search-row form .inner-form .input-field {
    margin-right: 0;
  }
  .search-row form .inner-form .input-field input {
    padding: 5px 15px;
    font-size: 16px;
  }
  .search-row form .inner-form .input-field.first-wrap {
    width: 100%;
    margin-bottom: 20px;
  }
  .search-row form .inner-form .input-field.second-wrap {
    width: calc(50% - 10px);
    min-width: auto;
  }
  .search-row form .inner-form .input-field.third-wrap {
    width: calc(50% - 10px);
  }
  .search-row form .inner-form .input-field.third-wrap .btn-search {
    font-size: 16px;
  }
} */