.dash-container {
    margin-top: 8vh;
    /* background-color: lightgreen; */
}
.dashboard-style{
    background: #eeeeee;
    border-radius: 50px;
    -webkit-box-shadow: 0px 10px 22px 3px #000000; 
    box-shadow: 0px 10px 22px 3px #000000;
}
#dashboard-btn-style{
    border-radius: 50px;
}