.event-card-content{
    padding: 5px;
    border: solid 2px black;
    border-radius: 10%;
    background-color: gray;
}

.food-hero{
    height: 240px !important;
    background-image: url('https://i.redd.it/pu0mz1l9ruk31.jpg');
    background-size: cover;
    border-radius: 10%;

}
.tag-list-item{
    background-color: slategray;
    border-radius: 5%;
    color: black !important
}

.info-list-item{
    background-color: slategray;
    border-radius: 5%;
    color: black !important
}

.event-card-title{
    color: black !important;
    margin: 5px 0px;
    font-size: 1.5rem;
}

