.event-card{
    text-align: left;
}

.food-hero{
    height: 240px !important;
    background-size: cover;
    background-position: center;

}
.tag-list-item, .info-list-item{
    color: black !important
}

.event-card-title{
    color: black !important;
    margin: 5px 0px;
    font-size: 1.5rem;
}

