#host-form{
    margin-top: 15vh;       
    height: auto;
    border-radius: 20px;
    -webkit-box-shadow: 0px 10px 22px 3px #000000; 
    box-shadow: 0px 10px 22px 3px #000000;
}

#host-form-style{
    margin-top: 3vh;
    text-align: center;
    border-radius: 50px;
}
#date{
    text-align: center;
    border-radius: 50px;   
}
#picture-location{
    text-align: center;
    border-radius: 50px;
}
#time{
    text-align: center;
    border-radius: 50px;  
}
.host-body-style{
    margin-bottom: 0px !important;
}