.home{
    padding: 0px !important;
}

.home .upper-fold{
    height: 100vh !important;
    background-size: cover;
    align-items: center;
    
}

.upper-fold-content{
    position: relative;
    top: 25vh;
}

.upper-fold-text{
    color: white;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    font-size: 8vh;
}