.home{
    padding: 0px !important;
}

.home .upper-fold{
    height: 100vh !important;
    /* background-image: url('https://images.immediate.co.uk/production/volatile/sites/4/2018/08/GettyImages-87987137-932ecf3.jpg?quality=90&resize=940,404'); */
    background-size: cover;
}
upper-fold-text{
    position: absolute;
    top: 15vh !important;
    left: 2vh;
    height: 60vh;
    width: 45vh;
    padding: 0px !important;	    padding: 0px !important;
    margin-top: 100px !important;	    background-color: black;
    color: white;
    font-size: 7rem;
} 	